#languages {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.languages{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.languages img{
  width: 20%;
}

@media screen and (min-width: 768px) {
  .languages{
    width: 60vw;
  }
  .languages img{
    width: 15%;
  }
}

@media screen and (min-width: 1024px) {
  #languages {
    gap: 1rem;
  }

  #languages .first-row,
  #languages .second-row,
  #languages .third-row,
  #languages .fourth-row {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  #languages .first-row img,
  #languages .second-row img,
  #languages .fourth-row img {
    width: 10%;
  }
  #languages .third-row img {
    width: 5%;
  }
}
